$layout-width-inner: 1024px;
$green1: #67FF20;
$green2: #69E72F;
$green3: #6AC640;
$green4: #65A04A;
$green5: #547246;
$o_color: rgb(186, 50, 89);
$black: #333;
$font_family: 'Noto Sans JP', sans-serif;
$title_font: 'Sawarabi Mincho', sans-serif;
$opacity: 0.8;
$transition: all .3s ease 0s;

// ブレークポイント
$layout-width-inner: 1024px;
$breakpoints: (
  "xs": "screen and (max-width: 376px)",
  "sp": "screen and (max-width: 767px)",
  "tab": "screen and (max-width: #{$layout-width-inner - 1px})",
  "pc": "screen and (max-width: #{$layout-width-inner})",
);

// メディアクエリー
@mixin mq($breakpoint: sp) {

  @media #{map-get($breakpoints, $breakpoint)} {

    @content;   

  }
}

* {
    color: $black;
}

html {
    font-size: 10px;
}

body {
    font-family: $font_family;
    position: relative;
}

p {
    font-size: 1.6rem;
    letter-spacing: 1.8px;
}

.container {
    position: relative;
    margin: 0 auto;
    max-width: $layout-width-inner;
    width: 100%;
}

.section-title {
    font-size: 4.8rem;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 4.8rem;
}

input[type="submit"] {
    -webkit-appearance: none;
    background-color: rgba(0, 0, 0, 0.32);
    background-image: none;
    border: none;
    border-radius: 0;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-size: 1em;
    margin: 0 0 1em;
    padding: 0.6em 2em;
    text-decoration: none;
}
  
  input[type="submit"]:hover,
  input[type="submit"]:focus {
    outline: none;
  }
  
  input[type="submit"]::-moz-foucus-inner {
    border: none;
    padding: 0;
  }

  input[type="submit"],
input[type="button"] {
  border-radius: 0;
  -webkit-box-sizing: content-box;
  -webkit-appearance: button;
  appearance: button;
  border: none;
  box-sizing: border-box;
    &::-webkit-search-decoration {
      display: none;
    }
    &:focus {
      outline-offset: -2px;
    }
}

#header-form-btn, #footer-form-btn {
    background-color: $o_color;
    color: white;
    display: block;
    margin: 0 auto;
    height: 6.4rem;
    text-align: center;
    transition: $transition;
    width: 24rem;
    font-size: 1.6rem;
    border-radius: 8px;

    &:hover {
        background: rgba(186, 50, 89, $opacity);
    }

}

.cta-btn {
    background-color: $o_color;
    color: white;
    display: block;
    margin: 0 auto;
    height: 6.4rem;
    text-align: center;
    transition: $transition;
    width: 24rem;
    font-size: 1.6rem;
    line-height: 6.1rem;
    border-radius: 8px;
    box-shadow: 0 0 15px rgba(0, 0, 0, .3);

    &:hover {
        background: rgba(186, 50, 89, $opacity);
    }

}

#header-cta-btn {
    height: 4.8rem;
    line-height: 4rem;
}

.clear::after{
    clear: both;
    content: '';
    display: block;
}

.active {

    &::after {
        content: '';
        position: absolute;
        background-color: $o_color;
        border-radius: 50%;
        width: .8rem;
        height: .8rem;
        bottom: -50%;
        left: 50%;
        transform: translateX(-50%);
    }

}

.drawer-nav {
    background-color: #181818;
    position: sticky;
    top: 0;
    z-index: 10;

    .drawer-logo-box {
        display: none;
        float: left;
        width: 6.4rem;

        .drawer-logo {
            width: 100%;
        }

    }
    
    .drawer-togglers {
        display: none;
        position: relative;
        height: 6.4rem;
        
        span {
            position: absolute;
            right: 3.2rem;
            top: 50%;
            transform: translateY(-50%);
            cursor: pointer;
        }

        .drawer-closer {
            display: none;

        }

        i {
            color: #fff;
            font-size: 3.2rem;
        }

    }

    .drawer-content {
        display: none;
        height: 100vh;
        background: rgba(0, 0, 0, .9);
        padding: 3.2rem;

        .drawer-item {
            margin-bottom: 2.4rem;
            border-bottom: 1px solid #fff;
            
            .drawer-link {
                color: #fff;
                font-size: 2.4rem;

                i {
                    color: #fff;
                    margin-right: 1.6rem;
                }

            }

        }

    }//drawer-content
}//.drawer-nav


.d_check {

    .drawer-togglers {

        .drawer-opener {
            display: none;
        }
        
        .drawer-closer {
            display: block;
        }
    }

    .drawer-content {
        display: block;
    }
}


// =============================
// header
// =============================

header {
    padding-bottom: 20rem;
    background : linear-gradient(rgba(0, 0, 0, .3), rgba(0, 0, 0, .3)), url(../images/top-bg2.jpg);
    background-size: cover;
    // background-position: 100% 50%;
    background-repeat: no-repeat;
    background-color: #fff;

    #global-nav {
        background: #181818;
        height: 6.4rem;
        position: fixed;
        width: 100%;
        z-index: 10;

        .container {
            height: 100%;
        }

        .header-left {
            float: left;
            width: 6.4rem;
            height: 100%;

            img {
                width: 100%;
            }

        }//.header-left

        .header-right {
            float: right;
            line-height: 6.1rem;

            .global-menu {
                display: flex;

                .global-item {
                    text-align: right;
                    margin-right: 4rem;

                    &:last-child {
                        margin-right: 0;
                    }

                    .global-link {
                        font-size: 1.8rem;
                        text-transform: uppercase;
                        color: #fff;
                        position: relative;

                        &:hover {

                            &::after {
                                content: '';
                                position: absolute;
                                background-color: $o_color;
                                border-radius: 50%;
                                width: .8rem;
                                height: .8rem;
                                bottom: -50%;
                                left: 50%;
                                transform: translateX(-50%);
                            }

                        }

                    }

                }

            }

        }
        
    }

    .hero-view {
    padding-top: 13.6rem;

        #header-cta-btn {
            display: none;
        }

        .header-contact-form {
            width: 40rem;
            float: right;
            background-color: #fff;
            padding: 2.4rem;
            margin-top: 7.2rem;
            border-radius: 12px;
            box-shadow: 0 0 15px rgba(0,0,0,.3);

            p {
                font-size: 2.4rem;
                text-align: center;
                margin-bottom: 1.6rem;
                font-weight: bold;
            }

            form {

                input, textarea {
                    display: block;
                    margin: 0 auto;
                    resize: none;
                    margin-bottom: 0.8rem;
                    width: 100%;
                    height: 4.2rem;
                    padding: .8rem;
                    font-size: 1.6rem;
                    border: none;
                    border-bottom: 1px solid $black;

                    &:focus {
                        // border: none;
                        outline: none;
                    }

                }

                textarea {
                    height: 16rem;
                    // border-radius: 20px;
                }

                .cta-btn {
                    width: 24rem;
                    border: none;
                    line-height: 2.4rem;
                }

            }

        }//contact-form

        .hero-view-title {
            font-family: $title_font;
            display: inline-block;
            font-size: 5.6rem;
            margin-top: 6.4rem;
            color: #fff;

            .title-deco {
                color: $o_color;
            }

        }

    }//hero-view

}


// ========================
// price
// ========================
#price {
    padding-top: 8rem;
    padding-bottom: 10.4rem;
    background-color: #B5FFFB;

    .price-list {
        display: flex;
        width: 100%;
        justify-content: space-between;
        padding-bottom: 4rem;

        .price-item {
            width: 28.8rem;
            padding: 1.6rem;
            position: relative;
            box-shadow: 0 0 15px rgba(0, 0, 0, .3);
            border-radius: 12px;
            background-color: #fff;
            
            h5 {
                font-size: 2.4rem;
                text-align: center;
            }

            .price {
                color: $o_color;
            }

            .price-description {
                text-align: justify;
                letter-spacing: 2.4 px;
            }

            .item-head {
                margin-bottom: 1.6rem;
            }

            .fas, .fab {
                position: absolute;
                font-size: 20rem;
                color: $black;
                opacity: .1;
                z-index: 0;
                transform: translate(-50%, -50%);
                top: 50%;
                left: 50%;
            }

            .item-footer {
                margin-top: 1.6rem;
                span {
                    color: $o_color;
                }

            }

        }//price-item

    }//price-list

    .notion {
        margin-bottom: 2.4rem;
    }

}//price


// ========================
// flow
// ========================
#flow {
    padding-top: 8rem;
    padding-bottom: 10.4rem;

    .flow-list {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;

        .flow-item {
            width: 32rem;
            margin-bottom: 3.2rem;
            box-shadow: 0 0 15px rgba(0, 0, 0, .3);
            border-radius: 12px;
            background-color: #fff;

            .item-body {
                padding: 1.6rem;
            }

            .flow-img {
                width: 100%;
                border-radius: 12px 12px 0 0 / 12px 12px 0 0;
            }

            .flow-title {
                font-size: 2rem;
                margin-bottom: 0.8rem;
            }

            .flow-description {
                letter-spacing: 1.8px;
            }

        }

    }

    .flow-text {
        margin-bottom: 1.6rem;
    }

}//flow

#works {
    padding-top: 8rem;
    padding-bottom: 10.4rem;
    background-color: #B5FFFB;

    .works-list {
        .works-item {
            float: left;
            width: calc((100% - 66.66666666%) - 6rem);
            margin-right: 3rem;
            background-color: #fff;
            box-shadow: 0 0 15px rgba(0, 0, 0, .3);
            border-radius: 12px;
            display: block;
            margin-bottom: 3rem;

            &:nth-child(3n) {
                margin-right: 0;
            }

            .item-head {
                img {
                    width: 100%;
                    overflow: hidden;
                }
            }

            a {
                text-decoration: underline;
                color: blue;
                font-size: 1.3rem;
            }

            .link {
                display: block;
                margin-left: 1.6rem;
                margin-right: 1.6rem;
            }

            .item-footer {
                padding: 1.6rem;
            }

        }
    }
}

#contact {
    padding-top: 8rem;
    padding-bottom: 10.4rem;

    .faq {
        width: calc(100% - 40rem - 8rem);
        display: inline-block;
        margin-right: 8rem;
    }

    .faq-title {
        font-size: 2.4rem;
        margin-bottom: 1.6rem;
    }

    .faq-active {
        transform: rotate(225deg);
        margin-right: 0.1rem;
    }

    .faq-item {
        p {
            padding: .8rem 0;
            border-bottom: 1px solid #333;
            margin-bottom: .8rem;
        }

        .faq-q {
            cursor: pointer;

            .fa-plus {
                transition: $transition;
            }

        }

        .faq-a {
            display: none;
            padding-bottom: 1.6rem;
        }
    }

    .footer-form {
        width: 40rem;
        float: right;
        background-color: #fff;
        padding: 2.4rem;
        border-radius: 12px;
        box-shadow: 0 0 15px rgba(0,0,0,.1);
    }
 
    form {

        input, textarea {
            display: block;
            margin: 0 auto;
            resize: none;
            margin-bottom: 0.8rem;
            width: 100%;
            height: 4.2rem;
            padding: .8rem;
            font-size: 1.6rem;
            border: none;
            border-bottom: 1px solid #333;

            &:focus {
                outline: none;
            }

        }

        textarea {
            height: 16rem;
        }

        .cta-btn {
            width: 24rem;
            border: none;
            line-height: 2.4rem;
            margin-top: 1.6rem;
        }

    }

}

footer {
    background: $black;
    padding: 2.4rem;

    p {
        color: #fff;
        text-align: center;
        letter-spacing: normal;
    }
}

// ===================================
// responsive PC
// ===================================
@include mq('pc') {
    .container {
        max-width: 810px;
    }

    header {
        .hero-view {
            .header-contact-form {
                width: 40%;
            }
        }
    }

    #price {
        .price-list {
            .price-item {
                width: calc(100% - 66.6666% - 3.2rem);
                margin-right: 1.6rem;

                &:last-child {
                    margin-right: 0;
                }

                h5 {
                    font-size: 2em;
                }

            }
        }
    }

    #flow {
        .flow-list {
            .flow-item {
                width: calc(100% - 66.66666% - 3.2rem);
                margin-right: 1.6rem;

                &:nth-child(3n) {
                    margin-right: 0;
                }

            }
        }
    }

    #works {
        .works-list {
            .works-item {
                .link {
                    font-size: 1rem;
                }
            }
        }
    }


}


.thanks-message {
    font-size: 4.8rem;
    color: white;
    margin-top: 8rem;
}

.back-btn {
    display: block;
    margin-top: 8rem;

    .fas {
        color: white;
        margin-right: 0.8rem;
    }

}


// ===================================
// responsive Tab
// ===================================
@include mq('tab') {
    .container {
        max-width: 624px;
    }

    .section-title {
        font-size: 4rem;
    }

    .drawer-nav {
        .drawer-logo-box {
            display: block;
        }
    }

    header {
        #global-nav {
            display: none;
        }

        .hero-view {
            padding-top: 6.4rem;

            .hero-view-title {
                margin-top: 0;
                font-size: 5.4rem;
                height: 100vh;
            }

            .header-contact-form {
                margin-top: 0;
                width: 100%;
            }
        }

    }

    
    .drawer-nav {
        .drawer-togglers {
            display: block;
        }
    }

    #price {

        .price-list {
            display: block;

            .price-item {
                width: 100%;
                margin-bottom: 3.2rem;
            }
        }
    }

    #flow {

        .flow-list {
            display: block;

            .flow-item {
                width: 100%;
            }
        }
    }

    #works {

        .works-list {
            .works-item {
                width: 100%;
                float: none;

                .link {
                    display: none;
                }
            }
        }

    }

    #contact {

        .faq {
            width: 100%;
            display: block;
            margin-bottom: 3.2rem;
        }

        .footer-form {
            width: 100%;
        }

    }

}

@include mq('sp') {
    .container {
        max-width: 393px;
    }

    header {
        padding-bottom: 0;

        .hero-view {
            height: 100vh;

            .hero-view-title {
                font-size: 4rem;
                height: auto;
                margin-bottom: 3.2rem;
                display: block;
            }

            #header-cta-btn {
                display: block;
            }

        }

        .header-contact-form {
            display: none;

        }

    }

    .section-title {
        font-size: 3.2rem;
    }

    
    .thanks-message {
        font-size: 3.2rem;
        margin-top: 0;
    }


}

@include mq('xs') {
    .container {
        max-width: 348px;
    }
}