* {
  color: #333;
}

html {
  font-size: 10px;
}

body {
  font-family: "Verdana", "sans-serif";
}

p {
  font-size: 1.6rem;
}

.container {
  position: relative;
  margin: 0 auto;
  max-width: 1024px;
  width: 100%;
}

.section-title {
  font-size: 4.8rem;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 8rem;
}

.cta-btn {
  background-color: #ba3259;
  color: white;
  display: block;
  margin: 0 auto;
  height: 6.4rem;
  text-align: center;
  transition: all 0.3s ease 0s;
  width: 24rem;
  font-size: 1.6rem;
  line-height: 6.1rem;
}

.cta-btn:hover {
  background: rgba(186, 50, 89, 0.8);
}

.clear::after {
  clear: both;
  content: '';
  display: block;
}

header {
  padding-bottom: 20rem;
}

header #global-nav {
  background-color: grey;
  height: 6.4rem;
  position: fixed;
  width: 100%;
  z-index: 10;
}

header #global-nav .container {
  height: 100%;
}

header #global-nav .header-left {
  float: left;
  width: 11.2rem;
  height: 100%;
}

header #global-nav .header-left img {
  width: 100%;
  height: 100%;
}

header #global-nav .header-right {
  float: right;
  line-height: 6.1rem;
}

header #global-nav .header-right .global-menu {
  display: flex;
}

header #global-nav .header-right .global-menu .global-item {
  text-align: right;
  margin-right: 4rem;
}

header #global-nav .header-right .global-menu .global-item:last-child {
  margin-right: 0;
}

header #global-nav .header-right .global-menu .global-item .global-link {
  font-size: 1.8rem;
  text-transform: uppercase;
}

header #drawer-nav {
  display: none;
}

header .hero-view {
  padding-top: 6.4rem;
}

header .hero-view .header-contact-form {
  width: 40rem;
  float: right;
  background: grey;
  padding: 2.4rem;
  margin-top: 7.2rem;
}

header .hero-view .header-contact-form p {
  font-size: 1.6rem;
  text-align: center;
  margin-bottom: 1.6rem;
}

header .hero-view .header-contact-form form input, header .hero-view .header-contact-form form textarea {
  display: block;
  margin: 0 auto;
  resize: none;
  margin-bottom: 0.8rem;
  width: 100%;
  height: 4.2rem;
  padding: .8rem;
  font-size: 1.6rem;
}

header .hero-view .header-contact-form form input:focus, header .hero-view .header-contact-form form textarea:focus {
  border: none;
  outline: none;
}

header .hero-view .header-contact-form form textarea {
  height: 16rem;
}

header .hero-view .header-contact-form form .cta-btn {
  width: 24rem;
  border: none;
  line-height: 2.4rem;
}

header .hero-view .hero-view-title {
  display: inline-block;
  font-size: 5.6rem;
  margin-top: 6.4rem;
}

#price {
  padding-bottom: 10.4rem;
}

#price .price-list {
  display: flex;
  width: 100%;
  justify-content: space-between;
  padding-bottom: 4rem;
}

#price .price-list .price-item {
  width: 28.8rem;
  padding: 1.6rem;
  position: relative;
  box-shadow: 4px 4px 12px black;
  border-radius: 12px;
}

#price .price-list .price-item h5 {
  font-size: 2.4rem;
  text-align: center;
}

#price .price-list .price-item .price {
  color: #ba3259;
}

#price .price-list .price-item .price-description {
  text-align: justify;
}

#price .price-list .price-item .item-head {
  margin-bottom: 1.6rem;
}

#price .price-list .price-item .fas, #price .price-list .price-item .fab {
  position: absolute;
  font-size: 20rem;
  opacity: .2;
  z-index: 0;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
}

#price .notion {
  margin-bottom: 2.4rem;
}

#flow {
  padding-bottom: 10.4rem;
}

#flow .flow-list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

#flow .flow-list .flow-item {
  width: 32rem;
  margin-bottom: 3.2rem;
  box-shadow: 4px 4px 12px black;
  border-radius: 12px;
}

#flow .flow-list .flow-item .item-body {
  padding: 1.6rem;
}

#flow .flow-list .flow-item .flow-img {
  width: 100%;
  border-radius: 12px 12px 0 0 / 12px 12px 0 0;
}

#flow .flow-list .flow-item .flow-title {
  font-size: 2rem;
}

#works {
  padding-bottom: 10.4rem;
}

#works .works-list .works-item {
  float: left;
  width: calc((100% - 66.66666666%) - 6rem);
  margin-right: 6px;
}

#works .works-list .works-item .item-body img {
  width: 100%;
  overflow: hidden;
}

#contact .contact-message {
  width: calc(100% - 40rem - 3rem);
  display: inline-block;
  margin-right: 3rem;
}

#contact .footer-form {
  width: 40rem;
  float: right;
}

#contact form input, #contact form textarea {
  display: block;
  margin: 0 auto;
  resize: none;
  margin-bottom: 0.8rem;
  width: 100%;
  height: 4.2rem;
  padding: .8rem;
  font-size: 1.6rem;
}

#contact form input:focus, #contact form textarea:focus {
  border: none;
  outline: none;
}

#contact form textarea {
  height: 16rem;
}

#contact form .cta-btn {
  width: 24rem;
  border: none;
  line-height: 2.4rem;
}

footer {
  background: #333;
  padding: 2.4rem;
}

footer p {
  color: #fff;
  text-align: center;
}
